@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&display=swap");

@font-face {
    src: url(../font/Orbitron-VariableFont_wght.ttf);
    font-family: orbitron;
}

.font_michroma {
    font-family: "Michroma", sans-serif;
}

.font_goldman {
    font-family: "Goldman", sans-serif;
}

.font_orbitron {
    font-family: orbitron;
}

.font_georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    font-variant: small-caps;
}

.font_arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom_margin_none {
    margin-bottom: 1%;
}

.left_margin {
    margin-left: 10%;
}

.top_margin_100 {
    margin-top: 100px;
}

.bottom_margin_100 {
    margin-bottom: 100px;
}

.no_margin {
    margin: 2px;
}

.shadow_text {
    text-shadow: 4px 4px 4px #aaa;
}

.font_42 {
    font-size: 42px;
}

.font_26 {
    font-size: 26px;
}

.font_xxl {
    font-size: xx-large;
}

.font_32 {
    font-size: 32;
}

.font_28 {
    font-size: 28;
}

.font_24 {
    font-size: 24px;
}

.font_18 {
    font-size: 18px;
}

.font_12 {
    font-size: 12px;
}

.center_text {
    text-align: center;
}

.left_text {
    text-align: left;
}

.just_center {
    justify-self: center;
}

.yellow_text {
    color: rgb(231, 246, 18);
}

.white_text {
    color: rgb(255, 255, 255);
}

.back_color_beige {
    background-color: rgb(241, 208, 160);
}

.back_color_blue {
    background-color: rgb(1, 117, 185);
}

.back_color_bisque {
    background-color: bisque;
}

.border_black {
    border: 2px solid black;
}

.border_white {
    border: 2px solid rgb(255, 255, 255);
}

.border_blue {
    border: 2px solid rgb(35, 0, 176);
}

.back_color_blue a:link {
    color: white;
}

.back_color_blue a:hover {
    color: white;
}

.back_color_blue a:visited {
    color: rgb(252, 236, 142);
}

.navbar {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar_item {
    display: flex;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.returnbar {
    display: flex;
    justify-content: right;
    text-align: left;
    margin: 20px;
}

.header_picture_about {
    display: flex;
    justify-content: center;
}

.header_picture_space img {
    width: 100%;
    justify-content: center;
}

.header_picture_about img {
    max-width: 80%;
}

.pictext {
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
}

.recipe_page {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3)),
        url(../img/food_background.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.header_picture_box {
    display: flex;
    justify-self: center;
    max-width: 80%;
    padding: 20px;
    border: 2px solid black;
}

#header_picture {
    justify-self: center;
    max-width: 100%;
}

.title_box {
    display: flex;
    justify-content: center;
}

.title_box h3 {
    padding: 5px;
    border: 2px solid black;
}

.listbox {
    display: flex;
    width: 60%;
    justify-content: left;
    justify-self: center;
    border: 2px solid black;
}

.listbox_center {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    justify-self: center;
    border: 2px solid black;
}

.center_divs {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.text_box {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.side_picture_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side_picture {
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 20%;
}

.side_picture img {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.background_img {
    background-image: url(../img/space_background.webp);
    background-size: cover;
}