@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&display=swap");

@font-face {
    src: url(../font/Orbitron-VariableFont_wght.ttf);
    font-family: orbitron;
}

.font_michroma {
    font-family: "Michroma", sans-serif;
}

.font_goldman {
    font-family: "Goldman", sans-serif;
}

.font_orbitron {
    font-family: orbitron;
}

.font_georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    font-variant: small-caps;
}

.font_arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ************* Background Images ************* */

.recipe_background_img {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3)),
        url(../img/food_background.webp);
    background-size: cover;
}

.space_background_img {
    background-image: url(../img/space_background.webp);
    background-size: cover;
}

.cool_space_background_img{
    background-image: url(../img/cool_space.webp);
    background-size: cover;
}

/* ************* Margins/Padding ************* */

.bottom_margin_none {
    margin-bottom: 0px;
}

.left_margin {
    margin-left: 3rem;
}

.top_margin_2em {
    margin-top: 3em;
}

.top_margin_15em {
    margin-top: 15em;
}

.top_margin_7 {
    margin-top: 7rem;
}

.bottom_margin_7 {
    margin-bottom: 7rem;
}

.no_margin {
    margin: 0;
}

.padding_5 {
    padding: 5px;
}

/* ************* Font Size ************* */

.font_5vw {
    font-size: 5vw;
}

.font_3x {
    font-size: 3rem;
}

.font_2x {
    font-size: 2rem;
}

.font_1p5x {
    font-size: 1.5rem;
}

.font_1p1x {
    font-size: 1.1rem;
}

.font_p8 {
    font-size: .8rem;
}

/* ************* Alignment ************* */

.center_text {
    text-align: center;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.just_center {
    justify-self: center;
}

.top_anchor {
    position: top;
}

/* ************* Colors ************* */

.yellow_text {
    color: rgb(231, 246, 18);
}

.white_text {
    color: rgb(255, 255, 255);
}

.blue_text {
    color: rgb(35, 0, 176);
}

.back_color_beige {
    background-color: rgb(241, 208, 160);
}

.back_color_blue {
    background-color: rgb(1, 117, 185);
}

.back_color_bisque {
    background-color: bisque;
}

.border_black {
    border: 2px solid black;
}

.border_white {
    border: 2px solid rgb(255, 255, 255);
}

.border_blue {
    border: 2px solid rgb(35, 0, 176);
}

.blue_link a:link {
    color: white;
}

.blue_link a:visited {
    color: rgb(194, 225, 254);
}

.blue_link a:hover {
    color: white;
}

.blue_link a:active {
    color: rgb(36, 0, 84);
}

.shadow_text {
    text-shadow: 4px 4px 4px #aaa;
}

/* ************* Containers ************* */
.navbar_background_black {
    background-color: rgb(3, 0, 0);
    width: 100%;
    margin: 0;

}

.navbar {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar_item {
    display: flex;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.returnbar {
    display: flex;
    justify-content: right;
    text-align: left;
    margin: 20px;
}

.header_space {
    display: grid;
    grid-template-areas: "stack";
}

.header_space>* {
    grid-area: stack;
}

.header_picture_space img {
    width: 100%;
    justify-content: center;
}

.width_80 {
    max-width: 80%;
}

.pictext {
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
}

.header_picture_box {
    display: flex;
    justify-self: center;
    max-width: 80%;
    padding: 20px;
}

#header_picture {
    justify-self: center;
    max-width: 100%;
}

.title_box {
    display: flex;
    justify-content: center;
}

.listbox {
    display: flex;
    width: 60%;
    justify-content: left;
    justify-self: center;
}

.listbox_center {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    justify-content: center;
    justify-self: center;
}

.center_divs {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    max-width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.text_box {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side_picture_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side_picture {
    justify-content: center;
    align-items: center;
    margin: 5px;
    max-width: 20%;
}

.side_picture img {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.data_table {
    width: 80%;
}

.planets_table {
    justify-self: center;
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 10em;
}

.planets_table tr:nth-child(even) {
    background-color: #1e3a8a;
}

.planets_table tr:nth-child(odd) {
    background-color: #4fc3f7;
}

.planets_table td,
tr {
    border: 2px solid black;
    padding: .5em;
    color: #ffffff;
    font-size: 1.5rem;
}

.planets_table th {
    font-size: 1.5em;
    border: 2px solid black;
}