body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: beige;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 1%;
}

h2 {
    text-align: center;
    font-size: 32;
}

h3 {
    font-size: 28;
}

p { 
    font-size: 18px;
}

blockquote{
    text-align: center;
}

.navbar{
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headpicture{
    display: flex;
    justify-content: center;
    img{
        max-width: 80%;
    }

}

.pictext{
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 20px;
    background-color: bisque;
    margin: 20px;
    
}